.main-wrapper {
  min-height: 100vh;
  background-color: #f2f2f2;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}

.table-header {
  font-size: smaller;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 0.4em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #333333;
  background-color: #f2f2f2;
  box-shadow: inset 1px 0px 0px #eaedf3, inset -1px 0px 0px #eaedf3,
    inset 0px -1px 0px #eaedf3;
}

.th-wrapper {
  display: flex;
  align-items: center;
  gap: 25%;
}

.company-list-wrapper {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0.8em;
  margin: 0;
}

[data-id="item-checkbox"] {
  accent-color: #2f80ed;
}

button {
  all: unset;
  cursor: pointer;
}

.company-list {
  padding: 0;
}

.company-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  padding: 1em;
  background: linear-gradient(
      0deg,
      rgba(206, 208, 218, 0.05),
      rgba(206, 208, 218, 0.05)
    ),
    linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #ffffff 100%);
  box-shadow: inset 1px 0px 0px #eaedf3, inset -1px 0px 0px #eaedf3,
    inset 0px -1px 0px #eaedf3;
}

.icon-caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.icon-caret.right {
  border-left-color: #828282;
}

.with-rotate {
  transform: rotate(90deg);
}

@media (width >= 900px) {
  .main-wrapper {
    display: flex;
    justify-content: center;
  }

  .table-wrapper {
    width: 80%;
    padding: 2rem 0;
  }

  .th-wrapper > span:nth-child(1) {
    margin-right: 20vw;
  }

  .th-wrapper > span:nth-child(2) {
    margin-right: 5vw;
  }

  .th-wrapper > span:nth-child(3) {
    margin-right: 5vw;
  }
}
